@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
	display: flex;
	flex-direction: column;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(26, 24, 29);
}

.header {
	border-bottom: 1px solid rgb(58, 57, 60);
}

.nav__menu {
	padding: 5px 10px;
}

.nav__menu ul {
	display: flex;
	justify-content: space-between;
	color: white;
	align-items: center;
	list-style: none;
}

.nav__menu a {
	text-decoration: none;
	color: #fff;
}

.nav-card {
	border: 1px solid transparent;
	border-radius: 24px;
	padding: 5px 10px;
}

.nav-card:hover {
	/* opacity: 0.8;
	transition: opacity 0.3s; */
	border-color: gray;
	transition: border-color 0.4s;
}

.content-filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: white;
	gap: 30px;
}

.fil-elem {
	color: white;
	text-transform: uppercase;
	background-color: rgb(58, 57, 60);
	border: 2px solid gray;
	border-radius: 25px;
	padding: 6px 16px;
	font-size: 11px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
}

.fil-elem p {
	margin: 0;
	padding: 0;
}

.fil-elem:hover {
	background-color: gray;
}

footer {
	margin-top: 20px;
	border-top: 1px solid rgb(58, 57, 60);
}

main {
	flex-grow: 1;
	flex-direction: row;
}

.content h1 {
	color: #fff;
}


.content-main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content-main h2 {
	font-size: 20px;
}

.con-elem {
	box-sizing: border-box;
	margin-top: 20px;
	color: #fff;
	width: 100%;
	max-width: 350px;
	align-items: center;
	padding: 10px;
}


.content-main p {
	font-size: 20px
}

.content-main img {
	width: 340px;
}



.btn {
	font-weight: 600;
	padding: 10px 25px;
	border: none;
	border-radius: 24px;
	background: goldenrod;
	text-transform: uppercase;
	cursor: pointer;
	transition: transform 0.15s;
}

.btn:hover {
	transform: translateY(-2px);
}


.logo img {
	width: 50px;
}

footer p {
	padding: 5px 10px;
	text-align: center;
	color: white;
}