@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(26, 24, 29);
}

html,
body {
	height: 100%;
}

.header {
	border-bottom: 1px solid rgb(58, 57, 60);
}

main {
	margin-top: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.nav__menu {
	padding: 5px 10px;
}

.nav__menu ul {
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
	list-style: none;
}

.nav__menu a {
	text-decoration: none;
	color: #fff;
}

.nav-card {
	border: 1px solid transparent;
	border-radius: 24px;
	padding: 5px 10px;
}

.nav-card:hover {
	/* opacity: 0.8;
	transition: opacity 0.3s; */
	border-color: gray;
	transition: border-color 0.4s;
}

.content {
	color: white;
}

aside {
	width: 100%;
	max-width: 200px;
}

.aside__menu {
	background-color: rgba(128, 128, 128, 0.8);
	border-radius: 24px;
	padding: 20px 10px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.btn a {
	margin-top: 5pxS;
	text-decoration: none;
	color: black;
}

.btn {
	font-weight: 600;
	padding: 10px 25px;
	border: none;
	border-radius: 24px;
	background: goldenrod;
	text-transform: uppercase;
	cursor: pointer;
	transition: transform 0.15s;
}

.btn:hover {
	transform: translateY(-2px);
}

.header {
	text-align: center;
}

.logo img {
	width: 50px;
}

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.sendto {
	padding-top: 50px;
}

.menu a {
	text-decoration: none;
	color: white;
}

footer {
	margin-top: 20px;
	border-top: 1px solid rgb(58, 57, 60);
}

footer p {
	padding: 5px 10px;
	text-align: center;
	color: white;
}


/* footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
} */



/* #b {
	font-weight: 700;
}

footer img {
	width: 50px;
} */